@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');

:root{
    --backdark: #291B1B;
    --backlight: #EBE1E3;
    --black: #000;
    --white: #fff;
    --green: #81BD4D;
    --yellow: #D4CC59;
    --red: #D4553F;
    --blue: #72BDD4;
    --pink: #ED77C8;
    --bigtext: 1.4rem;
    --smalltext: 1rem;
}

html{
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    background-color: var(--backdark);
}

*{
    font-family: oswald , sans-serif , verdana , arial;
    font-size: var(--smalltext);
    color: var(--white);
    text-decoration: none;
    outline: none;
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

#header{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    box-shadow: 0 .1rem 1rem var(--white);
}
#header > h2,#header > h2 i,#header i{
    font-size: var(--bigtext);   
}
#header > h2 i{
    margin-right: .5rem;
}
#header nav a{
    margin-left: .5rem;
    padding: .5rem;
    border-radius: 10px;
}
#header nav a:hover{
    background-color: var(--white);
    color: var(--black);
}

#gamelevels{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90%;
    margin-bottom: 2rem;
}
#gamelevels > h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}
#footer{
    width: 100%;
    text-align: center;
    padding: .5rem 0;
    background-color: var(--black);
}
#levels{
    border: 2px solid var(--white);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    max-width: 500px;
    width: 90%;
    gap: 2rem;padding: 2rem;
}
#startlevels{
    transition: .3s;
    margin-top: 1rem;
    padding: .5rem 1rem;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 10px;
    background-color: var(--backdark);
    font-size: 2rem;
}
#startlevels:hover{
    background-color: var(--white);
    color: var(--black);
}
#levels > div{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;height: 80px;
    margin: auto;
    border: 2px solid var(--white);
    border-radius: 10px;
    background-color: var(--black);
}
#levels > div.active{
    background-color: var(--black);
}
#levels > div.play{
    background-color: var(--white);
}
#levels > div.active{
    color: var(--white);
    text-shadow: var(--backlight);
}
#levels > div.active:hover{
    background-color: var(--white);
}
#levels > div.active:hover{
    color: var(--black);
}
#levels > div.active i{
    opacity: 0;
}
#levels i{
    font-size: 4rem;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    opacity: .6;
    z-index: 1;
    pointer-events: none;
}
#levels{
    font-size: 4rem;
    z-index: 2;
    text-shadow: 0 .2rem .2rem var(--black);
}
#game{
    position: relative;
    margin: 1rem auto;
    border: 2px solid var(--white);
}
#gamesection{
    margin-top: 2rem;
    display: none;
    flex-direction: column;
    align-items: center;
}
.hearts i{
    color: red;
    font-size: 2rem;
    text-shadow: 0  0 4px red;
    margin-left: .5rem;
}
#ping{
    position: absolute;
    bottom: 1%;left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 2%;
    background-color: #948d8e;
    border: 1px solid var(--black);
}
#bol{
    position: absolute;
    bottom: 3%;left: 50%;
    border: 1px solid var(--black);
    transform: translateX(-50%);
    border-radius: 50%;
    width: 3%;
    height: 3%;
    background-color: var(--white);
}
#levels > div.play{
    color: var(--black);
}
#blocks{
    position: relative;
    width: 100%;
    height: 50%;
}
#blocks > div{
    position: absolute;
}
#tempory{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 1rem;
}
#mobilestart #start{
    position: absolute;
    top: -27%;left: 0;
    border-radius: 50%;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
#mobilestart{
    width: 20vw;
    max-width: 60px;
    max-height: 60px;
    height: 20vw;
    border-radius: 50%;
    background-color: var(--backlight);
    position: relative;
}
#mobilestart .bar{
    position: absolute;
    top: 60%;left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    width: 80%;
    height: 15%;
    background-color: var(--backdark);
}
#mobilestart .bol{
    position: absolute;
    top: 25%;left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: var(--backdark);
}
#mobilestart .risk{
    width: 20%;
    height: 20%;
    background-color: #D4553F;
    opacity: 0.7;
}
#mobilestart .risk.one{
    position: absolute;
    top: 38%;left: 20%;
    clip-path: polygon(0 10%, 90% 100%, 100% 90%, 10% 0);
    
}
#mobilestart .risk.two{
    position: absolute;
    top: 38%;left: 60%;
    clip-path: polygon(0 90%, 10% 100%, 100% 10%, 90% 0);
}
#tempory button i{
    font-size: 3rem;
    padding: 0.5rem;
    background-color: var(--backlight);
    color: var(--backdark);
}
#popup{
    position: absolute;
    top: -100vh;left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--backlight);
    transition: .5s ease-in-out;
}
#popup i{
    position: absolute;
    top: 2rem;right: 2rem;
    font-size: 3rem;
    color: var(--backdark);
}
#popup .ps{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#popup p{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    color: var(--backdark);
    font-weight: 700;
}
#popup p span{
    font-size: 4rem;
    margin-left: 1.5rem;
    color: var(--blue);
}
#popup .blockwin{
    position: absolute;
    width: 20%;
    height: 10%;
    background-color: #72BDD4;
    border: 2px solid black;
}
#popup .blockwin:nth-child(1) {
    top: 70%;left: 60%;
}
#popup .blockwin:nth-child(2) {
    top: 0;left: 20%;
}
#popup .blockwin:nth-child(3) {
    top: 10%;left: 0;
}
#popup .blockwin:nth-child(4) {
    top: 90%;left: 0;
}
#popup .blockwin:nth-child(5) {
    top: 80%;left: 0;
}
#popup .blockwin:nth-child(6) {
    top: 70%;left: 0;
}
#popup .blockwin:nth-child(7) {
    top: 80%;left: 20%;
}
#popup .blockwin:nth-child(8) {
    top: 90%;left: 20%;
}
#popup .blockwin:nth-child(9) {
    top: 90%;left: 40%;
}
#popup .blockwin:nth-child(10) {
    top: 90%;left: 80%;
}
#popup .blockwin:nth-child(11) {
    top: 80%;left: 80%;
}
#popup .blockwin:nth-child(12) {
    top: 70%;left: 80%;
}
#popup .blockwin:nth-child(13) {
    top: 0;left: 0;
}


@media (orientation:portrait) {
    #game{
        height: 90vw;
        width: 80vw;
    }
}

@media (orientation:landscape) {
    #game{
        height: 80vh;
        width: 70vh;
    }
}


@media (max-width: 400px) {
    #levels{
        width: 96%;
        padding: .5rem;
    }
}
